<div id="letter" data-aos="zoom-in-up" data-aos-duration="1500">
    <div class="date"> </div>
    <h1>Letter from the Secretary General</h1>
    <div class=" author"><span>November 05, 2021</span>
    </div>
    <!-- <div class="letter-line "></div> -->
    <figure class="figure ">
        <img src="{{url_for( 'static', filename='images/about/Kathi.jpg' )}} " class="figure-img img-fluid rounded " alt="Secretary General " />
        <figcaption class="figure-caption text-center ">
            Kathiyayini Sivakumar, Secretary General, SSN MUN
        </figcaption>
    </figure>
    <p>
 Greetings Delegates,
<br>
I consider it an absolute honour to invite you to the 8th edition of SSN Model United Nations, set to take place on 8th & 9th January 2022, virtually and safely. Year after year, SSNMUN strives to be bigger and better, serving as a trendsetter for Model UN conferences across the South Indian circuit. I feel privileged to be returning to SSNMUN 2022 as Secretary-General. Our team at SSN College of Engineering has worked hard to overcome the barriers of the COVID-19 pandemic and organize a second virtual conference that is truly limitless in its potential. 
<br>
<br>
This edition, we are simulating a combination of the most vital, yet unique and interesting committees. We have the UN Security Council (UNSC) which holds a special place in SSNMUN, with our stellar Executive Board who strive to keep it innovative and different year after year. We also have the UN Human Rights Council which serves as a great platform to encourage first-time participants and debate enthusiasts to discuss pressing human rights issues across the globe. The committees I am personally excited for this year are the San Francisco Conference of 1945 which will be a historic simulation giving every participating delegate to revisit the UN Charter itself; and the Observer Research Foundation (ORF), India’s largest think-tank, both committees recreated for the first time in SSNMUN history. 
<br>
<br>
I urge all delegates to participate with an open mind, to imbibe a spirit of inquiry that starts with your research and extends to questioning, challenging and learning about global affairs and issues. We, at SSNMUN, believe that Model UNs are platforms that offer holistic development- be it enhancing your communication skills, augmenting your research capacities, overcoming your fears and throwing yourself at public speaking, lobbying and honing your diplomacy skills. I promise you that you will leave the conference with experiences of unparalleled debate quality, memorable deliberation and a heightened sense of diplomacy. 
<br>
<br>
Looking forward to having you at the conference!
<br>
<br>
<br>
Warmest regards,<br>
Kathiyayini Sivakumar<br>
Secretary-General, SSNMUN 2022
   </p>
    <div class="letter-line"></div>
</div>

<!-- 
<article class="o-grid">
    <header class="o-grid__area-01 o-header u-txt-center">
        <h4 class="c-heading c-heading--03">Letter from the Secretary General</h4>
    </header>
     <div class="o-grid__area-02 u-txt-center">

        <h5 class="c-heading c-heading--04">Taxonomy and natural history</h5>
    </div> 
    <section class="o-grid__area-03 o-profile">
        <div class="o-profile__inner">
            <figure class="o-media"><img class="o-media__img" src="https://upload.wikimedia.org/wikipedia/commons/d/da/Albertus_Seba_Portrait_farbig.jpg" alt="Albertus Seba showing a lizard in a bottle" />
                <figcaption class="o-media__caption u-txt-center">Portrait of Albertus Seba, a 18th-century Dutch pharmacist.</figcaption>
            </figure>
            <p>Seba was a collector of zoological and other natural subjects and editor of a illustrated work of reference about his collection.</p>
             <p>He accumulated one of the largest cabinets of curiosities in the Netherlands during his time. He sold one of his cabinets in 1717 to Peter the Great of Russia. His later collections were auctioned after his death. </p>
            <p>His early work on taxonomy and natural history influenced Swedish botanist, physician, and zoologist Carl Linnaeus.</p> 
        </div>
    </section>
    <div class="o-grid__area-04 o-content">
        <p>Born in Etzel, Seba moved to Amsterdam as an apprentice and, around 1700, opened a pharmacy near the harbour. Seba asked sailors and ship surgeons to bring exotic plants and animal products he could use for preparing drugs. Seba also started to
            collect snakes, birds, insects, shells and lizards in his house.</p>
        <p>
            In October 1728 Seba had become a Fellow of the Royal Society. In 1734, he had published a Thesaurus of animal specimens with beautiful engravings. The full name of the Thesaurus is, with a dual Latin–Dutch title, <em>Locupletissimi rerum naturalium thesauri accurata descriptio</em>            (Accurate description of the very rich thesaurus of the principal and rarest natural objects).</p>
        <p>Today, the original 446-plate volume is on permanent exhibit at the Koninklijke Bibliotheek in The Hague, Netherlands.</p>
        <p>
            Seba's inclusion of fantastic beasts such as the hydra influenced Linnaeus to include the “Paradoxa,” species which may exist but which have not been found, in his <em>Systema Naturae.</em>
        </p>
        <p>
            Seba is commemorated in the scientific names of two species and one subspecies of snakes:<em> Ninia sebae, Python sebae, </em>and <em>Oxyrhopus petola sebae.</em></p>
    </div>
    <figure class="o-grid__area-05 o-media"><img class="o-media__img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/70/Albertus_Seba_-_Hydra.jpg/1920px-Albertus_Seba_-_Hydra.jpg" alt="The Hamburg Hydra, from the Thesaurus (1734)" />
        <figcaption class="o-media__legend">↑ The Hamburg Hydra, from the Thesaurus (1734).</figcaption>
    </figure>
    <footer class="o-grid__area-06 o-footer">
        <p> <small>Content adapted from Wikipedia, including text and images: https://en.wikipedia.org/wiki/Albertus_Seba</small></p>
    </footer>
    </article> -->