
.navbar {
    background-color: #1b262c;
    padding: 0 2% 1%;
}

nav .brand-logo {
    font-size: 2rem;
    font-weight: bold;
}

.nav-tabs {
    background-color: #225672;
    color: white;
    padding: 0 3% !important;
}

.tabs .tab a.active {
    color: ivory;
}

.tabs .tab a{
    color: white;
}

.tabs .tab a:hover{
    color: aquamarine;
}

.fixed-action-btn {
    right: 70px;
    bottom: 70px;

}