{% extends "base.html" %} {% block page_css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/about_ssn.css')}}"> {% endblock %}{% block content %}
<div class="about-section">
    <div class='about-ssn-container' data-aos="zoom-in-up" data-aos-duration="1500">
        <div class="about-ssn-heading">
            <h2>About SSN College Of Engineering</h2>
        </div>
        <div class="about-ssn-paragraph">
            <p>SSN Institutions, founded by Dr. Shiv Nadar, Chairman of HCL Technologies, has grown from its humble beginnings to become a behemoth in the field of technical education. We have consistently been ranked as a premier private engineering college
                in Tamil Nadu and amongst the top institutes in India by various reputed surveys.
            </p>
            <p>Recently, the college added yet another feather to its cap by being ranked 44th among all engineering colleges in India by NIRF. The college is now recognised as “Autonomous” by Anna University.</p>
            <p>SSN motivates students to innovate and never settle for less. Students are empowered to set the bar as high as possible. We invite you to partner with us in this shared commitment to quality and excellence and help make this event a grand
                success.
            </p>
        </div>

        <div class="about-ssn-heading">
            <h2>About SSNMUN</h2>
        </div>
        <div class="about-ssn-paragraph">
            <p>
                A model United Nations Conference is an educational simulation and/or academic competition in which students play the role of delegates representing various countries/organizations. The delegates carefully dissect and deliberate over world issues while
                adhering to their respective country’s policies in order for young citizens to improve their leadership skills while learning about diplomacy, international relations, major world issues and the United Nations.
            </p>
            <p>
                SSNMUN is an ever-evolving brand. From a highly successful first edition to an even bigger second edition, we’ve only been getting better. Last year, we were joined by over 300 delegates from over 45 institutions around the country including IITM, VIT,
                SRM, MOP Vaishnav, Manipal University, SLCU amongst others. The conference was presided over by some of the most experienced and respected set of judges (Executive Board) in the Indian MUN circuit.
            </p>
            <p>
                We were also the first MUN in the country to introduce a revolutionary new e-chit system, one that has been adopted by other MUNs around the country ever since. This year is no different. We are committed to making the MUN bigger and better than ever
                before and we cordially invite you to join us in this endeavour.
            </p>
            <p>

                This year’s MUN albeit online, will aim to have a greater outreach than ever before, transcending issues of physical accessibility and making a wider demographic participate in SSNMUN 2021.
            </p>
        </div>
    </div>
</div>

{% endblock %} {% block nav_active %}
<script>
    document.getElementById("nav-about").classList.add("active");
</script>

{% endblock %}