<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/dashboard.css')}}">

    <!-- Compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

    <script src="https://kit.fontawesome.com/e979b53514.js" crossorigin="anonymous"></script>

    <title>Document</title>
</head>

<body>

    <script>
        $(document).ready(function () {
            $('.tabs').tabs();
        });
        $(document).ready(function () {
            $('.fixed-action-btn').floatingActionButton();
        });
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.fixed-action-btn');
            var instances = M.FloatingActionButton.init(elems, {
                direction: 'left'
            });
        });
    </script>

    <div class="container-fluid">

        <nav class="nav-extended navbar">
            <div class="nav-wrapper">
                <h3 style="margin: 1% 0 0" class="brand-logo username">Welcome, {{current_user.name}}!</h3>
                <div class="brand-logo right">
                    <span><i class="fa fa-comment-o" aria-hidden="true"></i></span>
                    E-Chit App
                </div>
                
                <!-- <a href="#" class="brand-logo right hide-on-med-and-down"><img height=80px -->
                <!-- src="{{url_for('static', filename='images/alt-colourlogo_withdate_cropped.png')}}"></a> -->
            </div>
        </nav>
        <ul class="tabs nav-tabs">
            <li class="tab"><a href="#sent">SENT</a></li>
            <li class="tab"><a href="#received">RECEIVED</a></li>
            <li class="tab"><a href="#eb">TO / FROM EB</a></li>
        </ul>

        <div id="sent" class="col s12">Test 1</div>
        <div id="received" class="col s12">Test 2</div>
        <div id="eb" class="col s12">Test 4</div>

        <div title="Compose" class="fixed-action-btn">
            <a class="btn-floating btn-large red">
                <i class="fas fa-pen"></i>
            </a>
            <ul>
                <li style="margin: 0 10px"><a title="Delegate" class="btn-floating btn-large green"><i class="fas fa-user-alt"></i></a></li>
                <li style="margin: 0 10px"><a title="Executive Board" class="btn-floating btn-large blue"><i class="fas fa-gavel"></i></a></li>
            </ul>
        </div>

    </div>


</body>

</html>