{% extends "base.html" %} {% block page_css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/committee_card.css')}}" />
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/letter.css')}}" /> {% endblock %}{% block content %}
<div id="reg-alert-show" style="margin: 1rem;padding: 12px 32px 12px 20px;" class="alert alert-warning alert-dismissible fade show" role="alert">
    Round 3 delegate allotments are now released! Click <a style="text-decoration: underline;" href="/payments">here</a> to view your allotments.<a style="text-decoration: underline;" href="/payments">Pay now</a> to confirm your allotments.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
</div>
<div class="jumbotron jumbotron-fluid jumbotron-img">
    <a href="#letter" class="scroll-down"><i class="fas fa-angle-down fa-3x"></i></a>
</div>

{% include "index/letter.html" %} {% include "index/committee-card.html" %} {% include "index/sponsors.html" %} {% endblock %} {% block nav_active %}
<script>
    document.getElementById("nav-home").classList.add("active");
</script>
{% endblock %}