{% extends "base.html" %} {% block page_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/registration.css') }}">
{% endblock %}
{% block content %}

<div class="reg-heading container text-center">
    <h1>Delegate Allotments</h1>
    <!-- change title and text as required -->
    <h2>International Press allotments and Round 3 allotments are posted below. International Press reporters are requested to pay by the 9th of
        February 2021 and Round 3 delegates by the 12th of February 2021
        to confirm their allotments. </h2>
</div>

<div class="country-matrix">
    <!-- paste link here -->
    <iframe
        src="https://docs.google.com/spreadsheets/d/e/2PACX-1vQ-ffQMUQ7rKUOiFtezOjWq9aItvsbZNXoqouswB79aluIYAVrQxWsHOIGygU0ENFG4FXx78h0O7flX/pubhtml?widget=true&headers=false"
        class="registration" frameborder="0" marginheight="0" marginwidth="0"></iframe>
</div> {% endblock %}

{% block nav_active %}
<script>
    document.getElementById("nav-delegate-allocation").classList.add("active");
</script>
{% endblock %}