{% extends "base.html" %} {% block page_css %}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/registration.css')}}"> {% endblock %} {% block content %}

<div class="reg-container container-fluid">
    <div class="reg-heading container">
        <h1>Delegate Registration</h1>
        <h2 style="text-align: left;">
            Greetings prospective delegates! We are happy to open the rolling allotments for SSNMUN 2021. No hassle. Register, get allotted and pay. All in a day. This round lets you seal your allotments within a day.<br><br> Here are the 4 simple steps:-
            <ol>
                <li>Refer the Country Matrix to know the available countries.</li>
                <li>Fill the form with your preferences.</li>
                <li>You shall receive your allotment via message.</li>
                <li>Pay immediately to secure your spot.</li>
            </ol>
        </h2>
        <!-- <div style="margin-top: 1rem;" class="alert alert-warning alert-dismissible fade show" role="alert">
                <strong>Pay Now!</strong> Click <a href="/payments" style="text-decoration: underline;">Here</a> to pay now
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
            </div> -->
    </div>

    <div class="reg-row row d-flex flex-row justify-content-around no-gutters">
        <div class="reg-card col-lg-6">
            <a href="/registrations/delegate">
                <div class="apply-type" style="background-image: url({{ url_for('static', filename = 'images/apply/Delegate.png') }});">
                </div>
            </a>
        </div>
        <!-- <div class="reg-card col-lg-4">
            <a href="/registrations/eb">
                <div class="apply-type"
                    style="background-image: url({{ url_for('static', filename = 'images/apply/EB.png') }});"> </div>
            </a>
        </div> -->
        <!-- <div class="reg-card col-lg-6">
            <a href="/registrations/ip">
                <div class="apply-type" style="background-image: url({{ url_for('static', filename = 'images/apply/Press.png') }});"> </div>
            </a>
        </div> -->
    </div>
</div>


{% endblock %} {% block nav_active %}
<script>
    document.getElementById("nav-registration").classList.add("active");
</script>
{% endblock %}